
@{
    ViewBag.Title = "Weather";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weather Forecast</h2>
<div class="">
    <input class="" id="txtCity" type="text" placeholder="Enter city name">
    <button class="btn btn-outline-success" id="btnSubmit" type="submit">Search</button>
</div>
